{% extends "base.html" %}
{% block body %}
<h2>Upload your own photo!</h2>
<form action='/change' method="post"> <!-- # powoduje powrót do tej samej strony-->
    <p>URL: </p>
    <p><input type="text" name="www" /></p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="color:red;">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p><input type="submit" value="UPLOAD" /></p>
</form>
{% endblock %}