{% extends "base.html" %}
{% block body %}
<div>
    <img src={{image}} style="max-width: 800px;">
</div>
<div style="position:centered">
    <div style="display:inline-grid; margin:50px">
        <h1>Choose options:</h1>
            <form action="/recognize" method="get">
                <button type="submit" name='nm'value={{image}}>Recognize</button>
            </form>
            <form action="/change"  method="get">
                 <button type="submit">Change photo</button>
            </form>          
    </div>
     <div style="display:inline-grid; margin:50px">
     {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
